{{ block "dashboard" . }}
<body id="body">
	<aside>
		<nav>
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Products</a></li>
			</ul>
		</nav>
	</aside>
	<progress />
</body>
{{ end }}
