{{ define "gamemodal" }}
<dialog open id="modal-game">
  <article>
    <header>
      <button aria-label="Close" rel="prev" onclick="closeModal(event)"></button>
	  <h1>{{ .Game.Title }}</h1>
    </header>
    <content>
      <div>
        {{ if.Game.HasPub }}<p>Sviluppato da {{ .Game.Developer.Name }} per {{ .Game.Publisher.Name }}</p>{{ end }}
        <p>Voto recensione <span score="{{ .Score }}">{{ .Score }}</span></p>
		<p>Scritta da {{ .Author.Name }} {{ if .Author.HasNickname }} "{{ .Author.Nickname }}" {{ end }}{{ .Author.Surname }}</p>
        <p>TGM <a title="Open in Internet Archive" href="{{ .URL }}" target="_blank" rel="noopener noreferrer">n.{{ .Magazine.Number }}</a> - {{ .Magazine.PublishDateFmt }} (pag {{ .Page }})</p>
      </div>
      {{ if .Game.HasImage }}<img src="{{ .Game.Image }}">{{ end }}
    </content>
  </article>
</dialog>
{{ end }}
