{{ define "gamecard" }}
<article hx-get="/review" hx-target="#modal-here" hx-trigger="click" hx-vals='{"gameId":"{{ .Game.Id }}"}'>
	<header><span score="{{ .Score }}">{{ .Score }}</span><span>{{ .Game.Title }}</span></header>
	TGM <a title="Open in Internet Archive" href="{{ .Magazine.URL }}" target="_blank" rel="noopener noreferrer">n.{{ .Magazine.Number }}</a> - {{ .Magazine.PublishDateFmt }}
</article>
{{ end }}
