{{ define "index" }}
<!DOCTYPE html>
<html data-theme="dark">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="color-scheme" content="dark" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
		<link rel="stylesheet" href="/dist/style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<title>TGM Reviews</title>
		<script defer src="/dist/main.js"></script>
		<script defer src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</head>
	<body x-data="{ open: false }" @keydown.escape="open = false">
		<main class="container">
			<nav>
				<ul>
					<h1>TGM Reviews</h1>
				</ul>
				{{ if .User }}
				<ul>
					<li><button class="outline">New Magazine</button></li>
					<li><button class="outline" hx-get="/newauthor" hx-target="#new-form" hx-trigger="click" @click="open = true">New Author</button></li>
					<li><button class="outline">New Game</button></li>
					<li><button class="outline">New Review</button></li>
				</ul>
				{{ end }}
				{{ if not .User }}
				<ul>
					<li><button class="outline" hx-get="/login" hx-target="#new-form" hx-trigger="click" @click="open = true">Login</button></li>
				</ul>
				{{ end }}
			</nav>
			<div id="content">
				<label for="src">Ricerca gioco</label>
				<input type="search" name="src" placeholder="Ricerca" aria-label="Text" 
					hx-get="/search"
					hx-trigger="keyup changed delay:300ms"
					hx-target="#results"
					hx-vals='{ "src": #src }' />
				<div id="results"></div>
				<div id="new-form"></div>
			</div>
		</main>
	</body>
</html>
{{ end }}
