{{ define "login-form" }}
<dialog open id="new-author" x-data="{ username:'', password:'' }" x-show="open" @click.outside="open=false">
	<article>
		<header>
		<h1>Login</h1>
		</header>
		<form hx-post="/login">
			<fieldset>
					<input type="text" name="username" placeholder="Username" aria-label="Username" x-model="username">
					<input type="password" name="password" placeholder="Password" aria-label="Password" x-model="password">
			</fieldset>
			<input type="reset" name="reset" value="Cancel" @click="open = false">
			<input type="submit" name="submit" value="Ok">
		</form>
	</article>
</dialog>
{{ end }}
