{{ define "new-author" }}
<dialog open id="new-author" x-data="{ name:'', nickname:'', surname:'' }" x-show="open" @click.outside="open=false">
	<article>
		<form hx-post="/author">
			<header>
				<h1>New Author</h1>
			</header>
			<input type="text" name="name" placeholder="Nome" aria-label="Nome" x-model="name">
			<input type="text" name="nickname" placeholder="Nickname" aria-label="Nickname" x-model="nickname">
			<input type="text" name="surname" placeholder="Cognome" aria-label="Cognome" x-model="surname">
			<footer>
				<button type="reset" class="secondary" @click="open = false">Cancel</button>
				<button type="submit" class="primary" @click="open = false">Confirm</button>
			</footer>
		</form>
	</article>
</dialog>
{{ end }}
