{{ block "reviewmodal" . }}
<dialog open id="modal-game">
	<article>
		<header>
			<button aria-label="Close" rel="prev" onclick="closeModal(event)"></button>
		<h1>{{ .Game.Title }}</h1>
		</header>
		<content>
			<div id="review">
				<p>Voto recensione <span score="{{ .Score }}">{{ .Score }}</span></p>
				<p>Scritta da {{ .Author.Name }} {{ if .Author.HasNickname }} "{{ .Author.Nickname }}" {{ end }}{{ .Author.Surname }}</p>
				<p>TGM <a title="Open in Internet Archive" href="{{ .URL }}" target="_blank" rel="noopener noreferrer">n.{{ .Magazine.Number }}</a> - {{ .Magazine.PublishDateFmt }} (pag {{ .Page }})</p>
			</div>
			<div id="gamedetails">
				<img src="{{ .Game.Cover }}" alt="{{ .Game.Title }} cover art">
				<p>Release date: {{ .Game.ReleaseDate.Format "02/01/2006" }}</p>
				<div id="devs">
					<p>Devs: {{ .Game.GetDevs }}</p>
				</div>
				<div id="publishers">
					<p>Publishers: {{ range .Game.Publishers }}{{ . }}, {{ end }}</p>
				</div>
				<div id="genres">
					<p>Genres: {{ .Game.GetGenres }}</p>
				</div>
				<div id="platforms">
					{{ range .Game.Platforms }}<img src="{{ . }}"> {{ end }}
				</div>
			</div>
		</content>
	</article>
</dialog>
{{ end }}
