{{ block "reviewlight" . }}
<dialog open id="modal-game">
  <article>
    <header>
      <button aria-label="Close" rel="prev" onclick="closeModal(event)"></button>
    <h1>{{ .Game.Title }}</h1>
    </header>
    <content>
      <div id="review">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <h2>Review</h2>
        <div>
          <div class="voto">
            <h3>Voto</h3>
            <!--<p><span score="{{ .Score }}">{{ .Score }}</span></p>-->
            <div class="stars">
              <span>⭐️</span>
              <span>⭐️</span>
              <span>⭐️</span>
              <span>⭐️</span>
              <span>⭐️</span>
              <div class="score" style="left: {{ .Score }}%">{{ .Score }}</div>
            </div>
          </div>
          <div class="autore">
            <h3>Autore</h3>
            <p>{{ .Author.Name }} {{ if .Author.HasNickname }} "{{ .Author.Nickname }}" {{ end }}{{ .Author.Surname }}</p>
          </div>
          <div class="TGM">
            <h3>TGM issue</h3>
            <p>n.{{ .Magazine.Number }} - {{ .Magazine.PublishDateFmt }} (pag {{ .Page }})             
				<a class='fa fa-arrow-up-right-from-square' title="Open in Internet Archive" href="{{ .URL }}" target="_blank" rel="noopener noreferrer"></a>
			</p>
          </div>
        </div>
      </div>
      <div id="gamedetails" hx-get="/gamedetails" hx-trigger="load" hx-vals='{"IgdbId":"{{ .Game.IgdbId }}"}' hx-target="this" hx-swap="innerHTML">
        <!-- <img alt="Caricamento.." src="/dist/bars.svg" width="150" /> -->
        <div class="loading"></div>
        <!-- <div hx-get="/gamecover" hx-trigger="load" hx-vals='{"gameId":"{{ .Game.IgdbId }}"}' hx-target="this" hx-swap="outerHTML"> -->
        <!-- </div> -->
      </div>
      <!-- <div id="gamedetails"> -->
      <!--   <img src="{{ .Game.Cover }}" alt="{{ .Game.Title }} cover art"> -->
      <!--   <p>Release date: {{ .Game.ReleaseDate.Format "02/01/2006" }}</p> -->
      <!--   <div id="devs"> -->
      <!--     <p>Devs: {{ .Game.GetDevs }}</p> -->
      <!--   </div> -->
      <!--   <div id="publishers"> -->
      <!--     <p>Publishers: {{ range .Game.Publishers }}{{ . }}, {{ end }}</p> -->
      <!--   </div> -->
      <!--   <div id="genres"> -->
      <!--     <p>Genres: {{ .Game.GetGenres }}</p> -->
      <!--   </div> -->
      <!--   <div id="platforms"> -->
      <!--     {{ range .Game.Platforms }}<img src="{{ . }}"> {{ end }} -->
      <!--   </div> -->
      <!-- </div> -->
    </content>
  </article>
</dialog>
{{ end }}

{{ block "gamedetails" . }}
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <h2>Game Details</h2>
      <div>
        <div class="image">
          <img src="{{ .Cover }}">
        </div>
        <div class="data">
          <div id="date">
            <h3>Release date</h3>
            <p> {{ .ReleaseDate.Format "02/01/2006" }}</p>
          </div>
          <div id="genres">
            <h3>Genres</h3>
            <p> {{.GetGenres}}</p>
          </div>
          <div id="devs">
            <h3>Developers</h3>
            <p>{{ .GetDevs }}</p>
          </div>
          <div id="publishers">
            <!-- <p>Publishers: {{ range .Publishers }}{{ . }}, {{ end }}</p> -->
            <h3>Publishers:</h3>
            <p>{{ .GetPubs }}</p>
          </div>
          <div id="platforms">
            <h3>Platforms:</h3>
			{{ range .Platforms }}<i class="fa-brands {{.}}"></i>{{ end }}
          </div>
        </div>
      </div>
{{ end }}
