{{ define "review" }}
<div hx-on::load="console.log('afdaffa');">
	<div hx-get="/revsuper" hx-trigger="load"></div>
	<div id="dbcontent">
	</div>
	<div id="apicontent">
	</div>
	<img src="{{ .Game.Cover }}" alt="{{ .Game.Title }} cover art">
	<h1>{{ .Game.Title }}</h1>
	<p>Release date: {{ .Game.ReleaseDate.Format "02/01/2006" }}</p>
	<h3>{{ .Score }}</h3>
	<p>by {{ .Author.Name }} "{{ .Author.Nickname }}" {{ .Author.Surname }}</p>
	<p>TGM <a title="Open in Internet Archive" href="{{ .URL }}" target="_blank" rel="noopener noreferrer">n.{{ .Magazine.Number }}</a> - {{ .Magazine.PublishDateFmt }} (pag {{ .Page }})</p>
	<div id="devs">
		<p>Devs: {{ .Game.GetDevs }}</p>
	</div>
	<div id="publishers">
		<p>Publishers: {{ range .Game.Publishers }}{{ . }}, {{ end }}</p>
	</div>
	<div id="genres">
		<!-- <p>Genres: {{ range .Game.Genres }}{{ . }}, {{ end }}</p> -->
		<p>Genres: {{ .Game.GetGenres }}</p>
	</div>
	<div id="platforms">
		{{ range .Game.Platforms }}<img src="{{ . }}"> {{ end }}
	</div>
<div>
{{ end }}
